<!DOCTYPE html>
<html>
	<head>
		<title>URL Shortener</title>
	</head>
	<body>
		<center>
			<br>
			<img src="https://www.dropbox.com/s/g1t4x2o2nnppuvs/logo%20shortened.png?dl=1" alt="URL shortener!">
			<form action="urls/create", method="post">
				<input type="text", value="", name="original_url"/>
				<input type="submit" value="Shorten!">
			</form>
		</center>
	</body>
</html>